.row
  .small-12.columns
    .row
      .small-12.columns
        %input{ type: "email", placeholder: "Email" }
      .small-12.columns
        %input{ type: "password", placeholder: "Password" }
    .row
      .small-10.medium-6.small-centered.columns
        %a.button.radius.small.expand.success Log in
      / .small-12.medium-10.small-centered.columns
      /   %p.text-center
      /     Already have an account? 
      /     %a Log in.
