.row
  .small-12.medium-8.medium-centered.columns
    %h1.title Create new listing

  %form#item
    .row
      .small-12.medium-8.medium-centered.columns
        %fieldset.row
          %legend What do you have?
          .small-4.columns
            %label
              Type
              %select{ name: "kind" }
                %option{ value: "carrots" } Carrots
                %option{ value: "lemons", selected: '' } Lemons
          .small-8.medium-6.columns.end
            %label
              Varietal
              %input{ type: "text", name: "varietal", placeholder: "\"Nelson\", \"Tango\", or \"General Lee\"" }
        %fieldset.row
          %legend Describe your produce
          .small-12.medium-8.columns
            %label Description
            %textarea{ name: "description", placeholder: "Use this area to describe your produce in more detail.", style: "resize:none;", rows: "5" }
        %fieldset.row
          %legend How many do you have?
          .small-4.columns
            %label
              Count
              %input{ type: "number", name: "quantity", min:"1", inputmode: "numeric", pattern: "[0-9]*", value: "1" }
          .small-8.medium-6.columns.end
            %label
              Unit
              %input{ type: "text", name: "unit", placeholder: "\"bunches\", \"lbs\", etc." }
        .row
          .small-10.medium-8.small-centered.columns
            %a.button.radius.expand.success#submit List my food

= render partial: 'auth_modal'

:plain
  <script id="success-alert-template" type="text/x-handlebars-template">
    <div data-alert class="alert-box success radius">
      Thanks, <strong>{{type}}</strong> ({{quantity}} {{unit}}) were added to your list.
      <a href="#" class="close">&times;</a>
    </div>
  </script>
